body{
	background-color: #e2e3de;
}
.work{
	background-color: white;
}
.icon-telephone:before {
  content: "\e91b";
}.tel {
  float:right;
    font-size: 20px;
}
#loadmore{
    font-style: italic;
    text-align: center;
    font-size: 26px;
}
.cimg{
  width:100%;
  height: 200px;
}
.paginator{
     list-style: none;
     text-align: center;
}
.paginator li{
display: inline;
font-size: 26px;

}
.navbar-default {
    border-color:white;
background-color: white;
margin: 0;
}
.section-padding{
	    background-color: #e2e3de;

}
.header-section p{
        font-size: 14px;
    }

h1, h2, h3, h4, h5, h6{
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #4B4B4C;
}

.bottom-line{
	width: 25px;
	height: 3px;
	background-color: rgb(99, 122, 145);
}
.padleft-right{
    padding-left: 5px;
    padding-right: 0px;
}
/***********************************
Course
************************************/
[class*=" imghvr-"] figcaption, [class^="imghvr-"] figcaption {
    background-color: #e2e3de;
}
[class*=" imghvr-"], [class^="imghvr-"] {
    background-color: #e2e3de;
    color: black;
}
#post-img{
    height: 300px;
        width:100%;

}
figure{
    width:100%;
}





.modal-content h4 {
    font-size: 1.5em;
    font-weight: 700;
}
.login-box-body {
    padding: 15px 30px;
}
.login-box-msg, .register-box-msg {
    margin: 0px;
    text-align: center;
    padding: 0px 20px 20px;
}
.modal-sm {
    width: 400px;
}


/*********************************
3.7 Main Slider
*********************************/
.red_button
{
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: auto;
	height: 40px;
	background: #fe4c50;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.red_button:hover
{
	background: #FE7C7F !important;
}
.red_button a
{
	display: block;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
}
.shop_now_button
{
	width: 140px;
	margin-top: 32px;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.fill_height
{
	height: 100%;
}

.main_slider
{
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.main_slider_content
{
	width: 60%;
}
.main_slider_content h6
{
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 29px;
}
.main_slider_content h1
{
    font-size: 200%;
	font-weight: 400;
	line-height: 1;
}

.topcol{
	    padding-top:10%;

}


















.services {
  margin-bottom: 30px;
  position: relative;
  z-index: 0; }

.services .desc {
    padding: .5em; }
.services .desc h3 {
      font-size: 24px;
       }



.colorlib-heading {
  margin-bottom: 5em; }
  .colorlib-heading h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative; }
    @media screen and (max-width: 768px) {
      .colorlib-heading h2 {
        font-size: 30px; } }
