 
<div class="container" ng-controller="resetController">
 
<h3>  change password </h3>

<form class="form" ng-submit="confirmResetPassword()">
 
    
    <input placeholder="Password" class="form-control" type="password" name="password1" maxlength="254" required  id="id_password1" ng-model="confirmPasswordValue.password1">
     
  
     <input placeholder="Confirm Password" class="form-control" type="password" name="password2" maxlength="254" required  id="id_password2" ng-model="confirmPasswordValue.password2">
       
    <input type="submit" class="btn btn-primary" value="Change">
    
    
    </form>

   <h1 id="confirmPasswordError" class="alert-danger"></h1> 


</div>
 