<div class="container" ng-controller="postListController" >
<post pk={{id}}></post>
 {% verbatim %} 
  
    <img ng-repeat="im in postDetail.images" class="post-img" src="{{im.image}}" >
     
 <br/>
  
            {{postDetail.content}} 
       
 
           <br/>
 
  via <a href="/accounts/{{postDetail.user.username}}"> {{postDetail.user.username}}</a> | <a  href='#' ng-click='likePage("api/posts/", postDetail.id )'><span id="postLike"> {{postDetail.verb_like}}</span>({{postDetail.likes}})</a>
  
     | <a href="#" id="comments" ng-click="get_comments(postDetail.id,'comment')">comments ({{postDetail.comment_count}})</a>

      <ul class="list-group"  >
       
          <li class="list-group-item" ng-repeat="c in c[postDetail.id]">
            
           {{c.content}} |
            via <a href="/accounts/{{c.user.username}}"> {{c.user.username}}</a> | <a  href='#' ng-click='likePage("api/comments/",c.id)'><span id="commentLike{{c.id}}"> {{c.verb_like}}</span>({{c.likes}})</a>
             |                <a href="#" id="replies" ng-click="get_comments(c.id,'reply')">replies ({{c.comment_count}})</a>
              
            <ul class="list-group" >
              <li class="list-group-item" ng-repeat="r in reply[c.id]">
            {{r.content}} |
            via <a href="/accounts/{{r.user.username}}"> {{r.user.username}}</a> | <a  href='#' ng-click='likePage("api/comments/",r.id)'><span id="commentLike{{r.id}}"> {{r.verb_like}}</span>({{r.likes}})</a>                 
 
                </li>
                
         <a href="#" ng-click="get_comments(c.id,'reply')" style="display: none" id="rloadmore{{c.id}}" >Load More</a>

          
        <form class="reply-form" ng-submit="AddComment(c.id,'reply' )">
                 <input class="replyInput" type="text" name="content" ng-model="comment[c.id].content">
                  <input type="submit" class="btn btn-primary " value="Reply">

         </form>
           </ul>
      

         </li>
 
         <a href="#" ng-click="get_comments(postDetail.id,'comment')" style="display: none" id="cloadmore{{postDetail.id}}" >Load More</a>

      <form class="comment-form" ng-submit="AddComment(postDetail.id,'comment' )">
    <input class="commentInput" type="text" name="content" ng-model="comment[postDetail.id].content">
      <input type="submit" class="btn btn-primary " value="Comment">

     </form>
     </ul>

 
        {% endverbatim %}          

</div>

