 <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
        <div class="modal-dialog"> 
            <div class="modal-content">
                <form ng-submit="editPost('post')" class="form ">
<!--                <form method="post" action="{% url 'accounts:login' %}"  class="form ">-->

                    <div class="modal-header"> 
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button> 
                        <h4 class="modal-title" id="myModalLabel"> Edit </h4> 
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" name="content" ng-model="editpost.content" placeholder="New Content"></textarea>
                         <input type="submit" class="btn btn-primary" value='Change'>   
                    </div>
                   
                </form>
            </div>
       <!-- /.modal -->
       </div>
    </div> 
<div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
        <div class="modal-dialog"> 
            <div class="modal-content">
                <form ng-submit="editPost('comment')" class="form ">
<!--                <form method="post" action="{% url 'accounts:login' %}"  class="form ">-->

                    <div class="modal-header"> 
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button> 
                        <h4 class="modal-title" id="myModalLabel"> Edit </h4> 
                    </div>
                    <div class="modal-body">
                        <textarea  class="form-control" name="content" ng-model="editpost.content" placeholder="New Content"></textarea>
                         <input type="submit" class="btn btn-primary" value='Change'>   
                    </div>
                 
                </form>
            </div>
       <!-- /.modal -->
       </div>
    </div>
<div class="modal fade" id="editReplyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
        <div class="modal-dialog"> 
            <div class="modal-content">
                <form ng-submit="editPost('reply')" class="form ">
<!--                <form method="post" action="{% url 'accounts:login' %}"  class="form ">-->

                    <div class="modal-header"> 
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button> 
                        <h4 class="modal-title" id="myModalLabel"> Edit </h4> 
                    </div>
                    <div class="modal-body">
                        <textarea  class="form-control" name="content" ng-model="editpost.content" placeholder="New Content"></textarea>
                         <input type="submit" class="btn btn-primary" value='Change'>   
                    </div>
             
                </form>
            </div>
       <!-- /.modal -->
       </div>
    </div>
<div ng-repeat="o in postList">
  
     {% verbatim %} 
  
    <img ng-repeat="im in o.images" class="post-img" src="{{im.image}}" >
  <ul ng-if="o.user.username == loggedInUsername" class="nav navbar-nav navbar-right">
							  <li class="dropdown">
								<a ng-click="getPostPK(o.id)" href="#" class="right-list dropdown-toggle" data-toggle="dropdown">
                                    Edit</a>
								<ul class="dropdown-menu">   
								  <li ><a href="#"data-toggle="modal" data-target="#editPostModal">edit</a></li>			
								  <li ><a href="#" ng-click="deletePost('post')">delete </a></li>			
								</ul>
							  </li>
</ul>
  <a href="/posts/{{o.id}}"><h3>{{o.content}} </h3> </a>    						

            
           <br/>
  via <a href="/accounts/{{o.user.username}}"> {{o.user.username}}</a> | <a  href='#' ng-click='likePage("api/posts/",o.id)'><span id="postLike{{o.id}}"> {{o.verb_like}}</span>({{o.likes}})</a>
     | <a href="#" id="comments" ng-click="get_comments(o.id,'comment')">comments ({{o.comment_count}})</a>

      <ul class="list-group"  >
          <li class="list-group-item" ng-repeat="c in c[o.id]">
              <ul ng-if="c.user.username == loggedInUsername" class="nav navbar-nav navbar-right">
							  <li class="dropdown">
								<a ng-click="getPostPK(c.id,o.id)" href="#" class="right-list dropdown-toggle" data-toggle="dropdown">
                                    Edit</a>
								<ul class="dropdown-menu">   
								  <li ><a href="#"data-toggle="modal" data-target="#editCommentModal">edit</a></li>			
								  <li ><a href="#" ng-click="deletePost('comment')">delete </a></li>			
								</ul>
							  </li>
                </ul>
           <h4> {{c.content}} </h4><br/>
            via <a href="/accounts/{{c.user.username}}"> {{c.user.username}}</a> | <a  href='#' ng-click='likePage("api/comments/",c.id)'><span id="commentLike{{c.id}}"> {{c.verb_like}}</span>({{c.likes}})</a>
             |                <a href="#" id="replies" ng-click="get_comments(c.id,'reply')">replies ({{c.comment_count}})</a>
              
            <ul class="list-group" >
              <li class="list-group-item" ng-repeat="r in reply[c.id]">
                 <ul ng-if="r.user.username == loggedInUsername" class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <a ng-click="getPostPK(r.id,c.id)" href="#" class="right-list dropdown-toggle" data-toggle="dropdown">
                            Edit</a>
                        <ul class="dropdown-menu">   
                          <li ><a href="#"data-toggle="modal" data-target="#editReplyModal">edit</a></li>			
                          <li ><a href="#" ng-click="deletePost('comment')">delete </a></li>			
                        </ul>
                      </li>
                </ul>
            <h5> {{r.content}}</h5> |
            via <a href="/accounts/{{r.user.username}}"> {{r.user.username}}</a> | <a  href='#' ng-click='likePage("api/comments/",r.id)'><span id="commentLike{{r.id}}"> {{r.verb_like}}</span>({{r.likes}})</a>                 
 
                </li>
                
         <a href="#" ng-click="get_comments(c.id,'reply')" style="display: none" id="rloadmore{{c.id}}" >Load More</a>

          
        <form class="reply-form" ng-submit="AddComment(c.id,'reply' )">
                 <input class="replyInput" type="text" name="content" ng-model="comment[c.id].content">
                  <input type="submit" class="btn btn-primary " value="Reply">

         </form>
           </ul>
      

         </li>
 
         <a href="#" ng-click="get_comments(o.id,'comment')" style="display: none" id="cloadmore{{o.id}}" >Load More</a>

      <form class="comment-form" ng-submit="AddComment(o.id,'comment' )">
    <input class="commentInput" type="text" name="content" ng-model="comment[o.id].content">
      <input type="submit" class="btn btn-primary " value="Comment">

     </form>
     </ul>

    
        {% endverbatim %}          

</div>

