

<div class="container">
  <call pk="{{obj.user.pk}}" op="profile" username="{{obj.user.username}}" ></call>

    <div class="col-md-3"  ng-controller="leftSideController">

     {% if obj.picture %} 
        <img src="{{obj.picture.url }}" class="profileimg">
  {% endif  %} 
     <h2 id="userName" user='{{obj.user.username}}'> {{obj.user.username}}</h2>
   
    <a ng-hide="owner" href="#" ng-click="friendRequest({{request.user.pk }},{{obj.user.pk}})"><span op='{{op}}' id="status">{{status}}</span> </a>
    
        
 
       <form  ng-show="owner" class ="image-form" ng-submit="AddFile('user',{{obj.user.id}})" enctype="multipart/form-data" imgType='user'>
          <input  type="file" name="file" class="form-control"  onChange="angular.element(this).scope().onFileChange(this.files)" accept="image/*" id="id_image">
          <input type="submit" class="btn btn-primary btn-large" value="Add Profile Picture">

       </form>
  
       <br/>
        <a ng-hide="owner" href="#" ng-click="follow('{{obj.user.username}}')"><span id="followStatus" followStatus="{{followStatus}}"> {% verbatim %} {{followStatus}} {% endverbatim %} </span> </a>

  
    <hr/>
    <h1>Following ({{obj.following.count}})</h1>
    {% for f in obj.following.all %}
 
    <a href="{% url 'accounts:detail'  username=f.username%}">
    {{f.username}}</a><br/>
 
    {% empty %}
    <h4>Not Following any users</h4> 
    {% endfor %}
     <hr/>
    <h1>Followers ({{obj.user.followed_by.count}}) </h1>
     {% for r in obj.user.followed_by.all %}
            <a href="{% url 'accounts:detail'  username=r.user.username %}">
    {{r.user.username}}</a><br/>
        
            {% empty %}
    <h4>Not Followed By any users</h4>
     {% endfor %}
        

 
 

    </div>
<div class="col-md-6">


<div ng-controller="postListController">

<a href="/files/profile/{{obj.user.id}}/"><h1>Photos </h1></a>

    

    <form ng-show="owner" class ="post-form" ng-submit="AddPost({{obj.id}})" enctype="multipart/form-data" postType='user' fileType='post'>
         {{post_form.as_p}}
        <input  type="file" name="file" class="form-control"  onChange="angular.element(this).scope().onPostFileChange(this.files)" accept="image/*" id="id_image">

        <input type="submit" class="btn btn-primary btn-large" value="Post">
    </form>
    

   
    <posts id="postcontainer"></posts>
    <a href="#" ng-click="get_data()" id="loadmore">Load More</a>

    </div> 
    
</div>
<div class="col-md-3" ng-controller="rightController">


  <a ng-hide="owner" id ="sendMSG" href="#"data-toggle="modal" data-target="#sendModal">message</a> 
      
<!-- Modal --> 
   <div class="modal fade" id="sendModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
        <div class="modal-dialog"> 
            <div class="modal-content">
                <form ng-submit="sendMessage({{obj.user.id}})"  class="form ">

                    <div class="modal-header"> 
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button> 
                        <h4 class="modal-title" id="myModalLabel"> Send Message</h4> 
                    </div>
                    <div class="modal-body">
                                {% csrf_token %}
                            {{message_form}}
                        <input type="submit" class="btn btn-primary" value='Send'>   
                    </div>

                </form>
            </div>
       <!-- /.modal -->
       </div>
    </div>
    <!-- Modal --> 
   
   <h1>Friends({{obj.friends.count}})</h1>
   {% for profile in friends %}
    <a href="{% url 'accounts:detail'  username=profile.user.username%}">
    {{profile.user.username}}</a><br/>
    {% endfor %}   
    {% if request.user == obj.user %}
    <h1>Received  Friend Requests({{res_frequests.count}})</h1>
    {% for frequest in res_frequests %}
    <a href="{% url 'accounts:detail'  username=frequest.from_user.username%}">
    {{frequest.from_user.username}}</a><br/>
    {% endfor %}   
    <h1>sent Friend Requests ({{sent_frequests.count}})</h1>
    {% for frequest in sent_frequests %}
    <a href="{% url 'accounts:detail'  frequest.to_user.username %}">
    {{frequest.to_user.username}}</a><br/>
    {% endfor %}
    {% endif %}
</div>
</div>
